.body {
    height: 100%;
    background-color: rgb(234, 234, 234);
    overflow: auto;

    .container {
        padding: 0 24px;
        height: 100%;
        margin: 0 auto;
        max-width: 1200px;

        .title {
            margin: 0;
            padding: 24px 0;
            text-align: center;
        }
        .headerInfo {
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .mainImage {
            img {
                width: 100%;
                    height: auto;
            }
        }
        .main {
            padding: 0px 0px 20px 0;
            aside {
                blockquote {
                    font-style: italic;
                }
            }
            figure {
                margin: 1.5em 10px;
                img {
                    width: 100%;
                    height: auto;
                }
                figcaption {
                    font-style: italic;
                }
            }
        }
    }
}